.library,
.key,
.grid {
  display: grid;
}

.grid {
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
}
.library {
  grid-template-columns: repeat(5, 30px);
  grid-template-rows: repeat(5, 30px);
}
.key {
  grid-template-columns: repeat(1, 30px);
  grid-template-rows: repeat(5, 30px);
}
