.view {
  display: none;
}

.view.view-active {
  display: block;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

html, body * {
  font-family: sans-serif;
}

.pegboard-app {
  width: 600px;
  height: 600px;
}

.pegboard-container {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

.pegboard-key-container {
  margin-left: 100px;
  margin-top: 80px;
  display: flex; 
  flex-direction: column;
}

.pegboard-key-title {
  text-decoration: underline;
  text-align: center;
}

.pegboard-key-content {
  display: flex; 
  flex-direction: row;
}

.template-grid {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(10, 30px);
}

.template-grid.color-mode > .grid-square {
  color: transparent;
}

.template-grid.symbol-mode > .grid-square {
  background: white;
}


.symbol-key-grid {
  display: grid;
  grid-template-rows: repeat(5, 30px);
  grid-template-columns: repeat(1, 30px);
}

.color-key-grid {
  display: grid;
  grid-template-rows: repeat(5, 30px);
  grid-template-columns: repeat(1, 30px);
}

.template-grid,
.color-key-grid {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.grid-square,
.color-key-grid-square,
.symbol-key-grid-square {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-color: white;
}

.symbol-key-grid-square {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.color-key-grid-square.active {
  border: 3px dotted black;
}

.color-key-grid-square#white {
  background-color: white;
}

.color-key-grid-square#red {
  background-color: rgb(255,3,27);
}

.color-key-grid-square#yellow {
  background-color: rgb(255,184,44);
}

.color-key-grid-square#green {
  background-color: rgb(0,166,76);
}

.color-key-grid-square#blue {
  background-color: rgb(0,85,117);
}

.color-white {
  background-color: white;
}

[data-color="blue"] {
  background-color: rgb(0,85,117);
}

[data-color="red"]  {
  background-color: rgb(255,3,27);
}

[data-color="yellow"] {
  background-color: rgb(255,184,44);
}

[data-color="green"] {
  background-color: rgb(0,166,76);
}

.pegboard-name {
  padding: 20px 0 20px 0;
  display: inline-flex;
}

.pegboard-name > label {
  padding-right: 20px;
}

#save-button {
  margin-left: 20px;
}

.print-view > :not(.pegboard-container) {
  display: none;
}

.print-view {
  zoom: 1.5;
}

.pegboard-list, .view-mode-selector {
  margin: 20px 0 20px 0;
}
#print-button > .print-button-link {
  text-decoration: none;
  color: black;
}
#file-input {
  display: none;
}
